[submodule "strvy/vendor/spdlog"]
	path = strvy/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "strvy/vendor/glm"]
	path = strvy/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "strvy/vendor/imgui"]
	path = strvy/vendor/imgui
	url = https://github.com/kaunoffi4/imgui.git
[submodule "strvy/vendor/GLFW"]
	path = strvy/vendor/GLFW
	url = https://github.com/kaunoffi4/glfw.git
